@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>På den här hemsidan kommer du kunna registrera dig för Events och se vilka du har registrerat dig för.</p>
    <p><a class="btn btn-primary" href="Events" role="button">Log in</a> </p>
    <p><a class="btn btn-primary" href="Events" role="button">Register</a> </p>
</div>
